.event {
  position: absolute;
  width: 80%;
  background-color: cornflowerblue;
  z-index: 1;
  border-radius: 8px;
  padding: 8px;
  color: #fff;
  cursor: pointer;

  &__title {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 8px;
  }

  &:hover {
    font-weight: bold;
    background-color: rgb(179, 202, 243);
  }
}

.delete-event-btn {
  position: absolute;
  bottom: -25px;
  right: -25%;
  width: 70%;
  height: 40px;
  background-color: rgb(247, 250, 255);
  cursor: pointer;
  border: 1px solid rgba(89, 91, 92, 0.301);
  border-radius: 5px;

  &_icon {
    position: absolute;
    left: 10%;
    bottom: 25%;
    color: rgb(153, 13, 13);
  }
}
